@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: lightgrey;
    font-family: 'Fira Sans', sans-serif;
    height: 150vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
}

.main {
   /* background-color: darkslategray;*/
    width: 90vw;

}

.container {
    display: flex
}

.infocontainer {
   /* background-color: cornflowerblue;
    height: 58vh;
    width: 80vw;*/
    margin: 60px ;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
}

.hello {
    font-size: 3em;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.name {
    font-size: 50px;
}

.about {
    font-size: 45px;
    font-family: 'Roboto Mono', monospace;
}

.moreabout {
    font-size: 2em;
    margin-top: 23px;
}

.buttons {
    margin-top:2.2em;
    font-size: 16px;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: aliceblue;
    background-color: rgb(2, 93, 93);
    font-weight: bold;
    font-size: 2em;
    margin:3px 3px;
    cursor:pointer;
}
.btn:hover{
    background-color: aliceblue;
    color: rgb(2,93,93);
}
.btn-sm{
    font-size: 10px;
    padding:7px 13px;
    margin:10px 0;
}
.devpic img {
    height: 58vh;

}
.contactform {
    font-family: 'Fira Sans', sans-serif;
    padding:0 34px;
    color: rgb(51, 106, 154);
    margin: 8px;
}
.contactform h1{
    font-family: 'Roboto Mono', monospace;
    /*padding: 12px 0;*/
    font-weight: bold;
}
.contactform form div{padding: 10px 0;
    display:flex;
    flex-direction: column;
    color: rgb(17, 84, 142);
}
.contactform form div input{
   /* width:26vw;*/
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding:3px;
}
.contactform form form{
    /* width:26vw;*/
    margin: 0 40px;
 }
#emailHelp{
    font-size: 10px;
    color: rgb(186, 186, 240);
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction:row;
}
#form-check input{
    width:24px;
    margin:3px 0;
}
.blogItem{
margin:20px;
font-family: 'Fira Sans', sans-serif;
}
.blogContainer{
    margin:8px;
}
.h1{
    font-family: 'Fira Sans', sans-serif;
    margin:23px;
}
.p1{
    font-family: 'Roboto Mono', monospace;
}
.intro{
    margin:8px;
}
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}
.intro p1{
    font-family: 'Fira Sans', sans-serif;
    margin:12px  
}
.skillcontainer{
    padding:12px;
}
.skillitem{
     display: flex;
     align-items: center;
}
.skill{
    width:265px;
    height:6px;
    background-color: aquamarine;
    border: 2px solid black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
}
.hundred{
    width:265px;
    background-color: crimson;
}
.fifty{
    width:125px;
    background-color: darkgreen;
}
.t5{
    width:75px;
    background-color: dimgrey;
}
.sidebarGo{
    transform:translate(-442px,0px);
    position:absolute;
}
.hamburger{
  position: absolute;
  cursor:pointer;
  top: 10px;
  left:10px;
}
.ham{
    margin-top: 10px;
    margin-left:10px;
}
.cross{
    margin-left: 185px;
    margin-top: 10px;
}
@media (max-width:1615px) {
 *{
   /* background-color:red */
 }

 }
 .buttons{
    font-size: 6px;
 }
/*.sidebar{
    transform:translate(-442px,0px);
    position:absolute;
  }  */
 